@import "../scss/global.scss";
@import "../scss/base/_reset.scss";
@import "../scss/layout/_header.scss";
* {
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #BB2339;
}

.homeContactus {
    display: block;
    margin: 2rem;
    text-decoration: none;
    font-family: sans-serif;
    color: #B0B0B0;
    transition: all 0.5s;
    display: flex;
}

.ContactUsH1Text{
    margin: 35px 0;
}

.homeContactus p:hover{
    transition: all 0.5s;
    color: #BB2339;
}

.ContacUs h1 {
    text-align: center;
    font-family: sans-serif;
}

.ContacUs textarea:focus{
    outline: 1px solid blue;
}


.ContacUs input:focus{
    outline: 1px solid blue;
}

.ContacUs .Forma {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ContacUs .Forma .Right {
    margin: 0 25px;
}

.ContacUs .Forma .Left .icons {
    margin: 26px 0;
    border: 1px solid rgba(36, 36, 36, 0.1);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 25px;
    border-radius: 8px;
}

.ContacUs .Forma .Left .icons h2 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

.ContacUs .Forma .Left .icons div h5 {
    /* margin: -10px; */
    font-family: sans-serif;
    color: #989899;
    font-weight: 400;
}

.ContacUs .Forma .Left .icons div {
    margin: 0 10px 0 25px;
    text-align: left;
    margin-top: -10px;
}

.ContacUs .Forma .Left {
    margin-top: -1.5rem;
}

.Forma .icons:hover{
    transition: all 0.5s;
}

.Forma .icons:hover{
    background: blue;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.ContacUs .Forma .Left .icons i {
    background: rgba(36, 36, 36, 0.05);
    padding: 15px;
    border-radius: 100%;
}

.ContacUs .Forma .Right {
    width: 800px;
    padding: 15px;
    border: 1px solid rgba(36, 36, 36, 0.1);
    border-radius: 8px;
}

.ContacUs .Forma .Right h1 {
    font-family: sans-serif;
    font-style: normal;
    text-align: left !important;
}

.ContacUs .Forma .Right form input {
    height: 58px;
    width: 345px;
    left: 820px;
    top: 488px;
    border-radius: 12px;
    border: 1px solid #3322441A;
    margin: 15px;
    padding: 5px 7px;
}

.ContacUs .Forma .Right form textarea {
    height: 58px;
    width: 750px;
    resize: none;
    margin: 0 15px;
    border: 1px solid #3322441A;
    border-radius: 8px;
    height: 150px;
    padding: 15px;
}

.ContacUs .Forma .Right p {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 300;
    color: #989899;
    font-size: 16px;
    line-height: 24px;
}

.ContacUs .Forma .Right form button {
    width: 214px;
    height: 61px;
    margin: 15px;
    background: rgba(0, 0, 0, 0.0);
    border: 2px solid #BB2339;
    background: #BB2339;
    color: white;
    transition: all 0.5s;
    border-radius: 68px;
    font-size: 1.2rem;
}

.ContacUs .Forma .Right form button:hover {
    background: rgba(0, 0, 0, 0.0);
    transition: all 0.3s;
    border: 2px solid #BB2339;
    cursor: pointer;
    color: #BB2339;
    font-weight: 600;
}

.xarita_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xarita_img img {
    border-radius: 8px;
}

.Findusbycard {
    margin: 2rem 0;
}



.Newslatter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.Newslatter div {
    Width: 70%;
    height: 313px;
    background: #BB2339;
    border-radius: 16px;
    position: relative;
    top: 8rem;
    box-shadow: 22px 30px 95px 1px #56565633;
}

.Newslatter div h5 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-top: 3rem;
}

.Newslatter div h2 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-transform: capitalize;
    margin-top: 2rem;
}

.Newslatter div h6 {
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
}

.Newslatter form {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Newslatter form input {
    width: 450px;
    padding:  15px;
    border-radius: 18px;
    border: 1px solid #989899;
    background: rgba(0, 0, 0, 0.0);
    margin: 0 25px 0 0;
}



.Newslatter form button {
    width: 144px;
    padding: 15px 0;
    border-radius: 22px;
    background: rgba(0, 0, 0, 0.0);
    border: 1px solid #989899;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
}

.Newslatter form button:hover {
    background: white;
    color: #BB2339 !important;
    transition: all 0.5s;
}








footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BB2339;
    height: 600px;
    color: white;
}

.Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 25px;
    font-family: sans-serif;
    text-align: center !important;
    margin-top: 8rem;
}

.Footer .footer_children {
    margin: 0 55px;
}

.Footer .Footer_logo h4 {
    width: 358px;
    font-size: 0.8rem;
    margin-top: 2rem;
    font-weight: 400;
    font-family: sans-serif;
}

.Footer .Footer_logo .icons {
    margin: 25px 0;
}

.Footer .Footer_logo .icons i {
    margin: 0 5px;
}

.Footer .ContactUs h5 {
    font-weight: 400;
    margin: 15px;
}



.Footer .WorkingHours h4{
    font-weight: 100;
    font-size: 1.5rem;
    margin: 15px 0;
}

.Footer .WorkingHours h5{
    font-weight: 300;
    line-height: 25px;
}


.SiteFooterfoter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 5rem;
}


/* ===================================================Media=================================================== */


@media (max-width: 1155px) {
    .Forma{
        display: flex;
        flex-wrap: wrap;
    }

    .Footer_logo img{
        margin-top: 2rem;
        margin-left: -2rem;
    }
}

@media (max-width: 845px) {
    .Forma .Right{
        width: 500px !important;
    }
    .Forma .Right textarea{
        width: 330px !important;
    }
    .Newslatter form{
        display: block;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .Newslatter form input{
        margin: 15px 0;
    }
    .Newslatter form button{
        width: 90%;
    }
}

@media (max-width: 787px) {
    .Forma .Right{
        width: 500px !important;
    }
    .Forma .Right textarea{
        width: 330px !important;
    }
    footer{
        height: 1100px;
    }
    .Footer{
        display: flex;
        align-items: flex-end;
        text-align: center;
        margin-left: 7rem;
        margin-top: 9rem;
    }
    .Footer .ContactUs{
        margin-left: 7rem;
    }
    .Footer .WorkingHours{
        margin-left: 9rem;
    }
}

@media (max-width: 690px) {
    .xarita_img img{
        width: 500px;
    }
}

